body {
    background: linear-gradient(rgb(14, 17, 36), rgb(36, 26, 73));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(173, 178, 203);
}
footer {
    margin-top: auto;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: rgb(173, 178, 203);
}

.navbar .container .navbar-nav .nav-link {
    color: rgb(173, 178, 203);
    border-radius: 18px;
    padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: rgb(127, 68, 255) !important;
    color: white !important;
}
.popover {
    background-color: rgb(19, 23, 42);
    border-color: rgb(35, 39, 61);
}

.popover-body {
    color: white;
}

.popover .list-group-item {
    background-color: rgb(19, 23, 42);
    color: white;
    border-color: rgb(35, 39, 61);
}

.popover .list-group-item:hover {
    background-color: rgb(35, 39, 61);
}
.container {
    
}

.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.search-box .btn{
    margin-left: 10px;
}

.product-category {
    background-color: rgb(19, 23, 42);
    width: 200px;
    cursor: pointer;
}

.product-category:focus {
    background-color: initial;
    color: white;
}

option {
    background-color: rgb(19, 23, 42);
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.search-input:focus {
    background-color: transparent;
    color: white;
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}


.btn {
    margin-right: 10px;
}

.pagination {
    border-radius: 0.25rem;
  }
  
  .page-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .page-item.disabled .page-link {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.1);
  }

.space-x {
    margin: 0 5px;
}

.mb-3 {
    color: white;
}

.infor {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
}

.btn-gradient {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border-radius: 30px;
    width: 200px;
}

.text-center {
    color: rgb(233, 66, 176);
}

table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid rgb(35, 39, 61);
    border-spacing: 0;
    background: linear-gradient(to bottom, rgb(14, 17, 36), rgb(36, 26, 73)); /* Thay đổi màu nền bằng gradient giống background của trang web */
}

tr {
    background: linear-gradient(to bottom, rgb(14, 17, 36), rgb(36, 26, 73)); /* Thay đổi màu nền dòng bằng gradient giống background của trang web */
}

th,
td {
    padding: 10px;
    text-align: center;
    color: rgb(173, 178, 203); /* Thay đổi màu chữ phù hợp với background */
    background-color: transparent; /* Đặt background trong suốt để hiển thị gradient màu nền của <tr> */
}

.product-detail {
    color: white; /* Thay đổi màu chữ */
    background-color: rgb(19, 23, 42); /* Thay đổi màu nền */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product-detail p {
    margin: 0;
}

.product-detail img {
    max-width: 100%;
    height: auto;
}

label {
    color: #000000; /* Màu đen */
  }

.form-control {
    color: #000000;
}